<h1>Create Account</h1>

<form action="<%= users_url %>" method="post">
  <%= form_auth %>
  <label>Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <label>Password
    <input type="password" name="user[password]">
  </label>

  <button>Sign Up</button>
</form>
<br>

<form action="<%= new_session_url %>" method="get">
  <%= form_auth %>  
  <label> If you already have an account:</label>
    <button>Login Here</button>
</form>