<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <%= form_auth %>

        <button>Log Out</button>
      </form>

      <form action="<%= edit_user_url(@current_user) %>" method="get">
        <%= form_auth %>

        <button>Edit Account</button>
      </form>
    <% end %>
    
    <ul>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
    
    <%= yield %>
  </body>
</html>
